.sidebar {
    position: absolute;
    width: 270px;
    height: 70%;
    overflow-y: auto;
}



.listElement {
    background-color: lightgray;
    border: 1px solid gray;
}
.listElement:hover, .listElement:focus {
    background-color: dimgray;
}